.popup__saved {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  width: 358px;
  height: 50px;
  background-color: black;
  border: none;
  border-radius: 2px; /*это и еще в попап_клоз плод верстки в 5-6 утра*/
  cursor: pointer; /*невнимательность просто убивает*/
}

.popup__saved:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
  .popup__saved {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
    height: 46px;
  }
}
