.profile__edit {
  display: flex;
  background-image: url(../../../images/button__pen.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: initial;
  border: solid white;
  width: 24px;
  height: 24px;
  cursor: pointer;
  align-self: center;
  align-items: center;
  padding: 7px;
}

.profile__edit:hover {
  opacity: 0.6;
}
