.element__image {
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
  background-size: 282px;
  width: 100%;
  max-width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; /* это открытие посвящается инспектору(не ДПС)*/
}
