.element__button-like_active {
  background-image: url(../../../../images/Unionblacj.svg);
  color: black;
  width: 22px;
  height: 19px;
  border: none;
  margin-top: 5px;
  margin-right: 15px;
  padding: 0;
  cursor: pointer;
}
