.profile__info {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin: 22px 0 25px 28px;
}

@media screen and (max-width: 320px) {
  .profile__info {
    padding: 0;
    max-width: 220px;
    grid-template-columns: 1fr 18px;
    gap: 9px 0;
    margin: 25px 0 30px 28px;
  }
}
