.element__button {
  background-image: url(../../../images/Heart.svg);
  background-color: white;
  width: 22px;
  height: 19px;
  border: none;
  margin-top: 9px;
  padding: 0;
  cursor: pointer;
}

.element__button:hover {
  opacity: 0.5;
}
