.element__button-like {
  stroke: black;
  background-image: url(../../../images/Vector.svg);
  background-color: white;
  width: 22px;
  height: 19px;
  border: none;
  margin-top: 5px;
  margin-right: 15px;
  padding: 0;
  cursor: pointer;
}

.element__button-like:hover {
  opacity: 0.5;
}
